/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/.cache
/flang
# SPEC CPU 2017 benchspec
/benchspec
# IDE run configs
/.run
# Fortran module files
*.mod
